*{
  padding: 0;
  margin: 0;
  
}


.body {
   background-image: linear-gradient(to right, #062E9E, #010718);
   
   /* background-image: url("https://www.transparenttextures.com/patterns/axiom-pattern.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  }
#top{
  padding-top: 15px;
  padding-left: 30px;
  color:white;
  text-shadow: 4px 4px 6px #000000;
  font-size: 80px;
  font-family: 'Engagement', cursive;
}
/* 062E9E */
#login{

  padding-left:750px;
  padding-right:150px;

}

.loginbtn{
  background-color: #4CAF50;
  color:white;
  padding:14px 20px;
  margin:8px 0;
  border:none;
  width:100%;
  border-radius: 4px;
}
button:hover{
  opacity:0.8;

}
.imgcontainer{
  text-align: center;
  margin:24px 0 12px 0;
}
.btype{
  color:#D3D3D3;
  font-size: 20px;
}
.logintitle{
  text-align: center;
  color:white;
}
.loginanchor{
  color: #A9A9A9;
}
.loginp{
  padding-top: 10px;
  color: #A9A9A9;
  text-align: center;
}
.loginimg{
  padding-top: 10px;
  height: 50px;
  width:50px;
  border-radius: 100%;
}
.in{
  border-radius: 4px;
  width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing: border-box;
}



.loginform{
  border:none;
  background-color: rgba(255, 255, 255, 0.01);
}


/* Chatbox-css */

body{
  
  background-image: linear-gradient(to right, #341244, #0a8c96);

}



.navbar {
  background: rgba(255, 255, 255, 0.05);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.title {
  font-size: 60px;
  color: white;

  font-family: "Engagement", "cursive";
  margin-bottom: 0;
  padding-bottom: 0;
}
.main {
  background: rgba(255, 255, 255, 0.12);
  position: relative;
  margin: 150px auto;
  width: 900px;
  height: 600px;
  color: white;
  border-radius: 7px;
  z-index: -1;
  box-shadow: 10px 10px 8px 10px rgba(0, 0, 0, 0.3);
}
.boxtype{
  margin: 5% 8% ;
}
.flex {
  display: flex;
 
}
.left {
  background: rgba(255, 255, 255, 0.08);
  width: 30%;
  height: 550px;
  text-align: center;
  font-family: sans-serif;
  border-right: 3px solid white;
}
.right {
  width: 70%;
  height: 550px;
  background: rgba(255, 255, 255, 0.08);
  overflow: hidden;
  overflow-y: scroll;
}

.bottomleft {
  background: rgba(255, 255, 255, 0.08);
  width: 30%;
  height: 50px;
  border-right: 3px solid white;
}
.bottomright {
  width: 70%;
  height: 50px;
}
.onlyimg {
  border-radius: 100%;
  height: 130px;
  width: 130px;
  padding: 25px 30px 5px 30px;
  opacity:0.8;
  }
.active {
  padding-top: 0;
  margin-top: 0;
  font-family: cursive;
  color: rgba(219, 217, 217, 0.938);
}

.nav {
  background-color: rgba(255, 255, 255, 0.18);
  margin-top: none;
  border: none;
  padding-top: 3px;
  padding-left: 15px;
  height: auto;
  font-family: sans-serif;
  position:fixed;
}
.bdiv {
  width: 80%;
}
.bdivt {
  width: 20%;
}
.inputbox {
  color: #eee;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: none;
  border: none;
  padding-left: 7px;
  font-size: 20px;
}
.inputbutton {
  height: 50px;
  width: 94%;
  border-radius: 5px;
  margin: 0 0 0 10px;
  border: none;
  background-color: rgb(51, 189, 9);
}
.send {
  font-size: 15px;
  font-weight: 200;
}
.othername{
  color: white;
  font-size: 30px;
  font-family: "Nunito";
}

#chat-message-list {
  grid-area: chat-message-list;
  display: flex;
  flex-direction: column-reverse;
  padding: 0 20px;
}
#chat-message-list:hover {
  cursor: pointer;
}
.message-row {
  display: grid;
  margin-bottom: 20px;
  grid-template-columns: 70%;
}
.message-content {
  display: grid;
}
.you-message {
  justify-content: end;
  justify-items: end;
}
.you-message .message-content {
  justify-items: end;
}
.other-message {
  justify-content: start;
  justify-items: start;
}
.other-message .message-content {
  grid-template-columns: 48px 1fr;
}
.message-row img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  grid-row: span;
  /* opacity:0.8; */
}

.message-text {
  padding: 9px 14px;
  font-size: 1rem;
  margin-bottom: 5px;
}
.message-time {
  font-size: 0.7rem;
  color: #eee;
}
.you-message .message-text {
  background: rgba(255, 255, 255, 0.2);
  color: #eee;
  border: 1px solid black;
  border-radius: 14px 14px 0 14px;
}
.other-message .message-text {
  background: rgba(255, 255, 255, 0.4);
  color: white;
  border: 1px solid #eee;
  border-radius: 14px 14px 14px 0;
}
.you-message .message-time {
  justify-items: end;
}

::-webkit-scrollbar {
  display: none;
}

/* Nav and event */
header {
  display:flex;
  justify-content: flex-end;
  padding:30px 10%;
  align-items: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  
  font-size: 1.5rem;
  }
  .nav-link{
    list-style: none;
  }
  .nav-link li {
    display:inline-block;
    padding-right:15px;
    font-size: 20px;
    color:White;
  }

  .nav-title{
    cursor:pointer;
    margin-right: auto;
    color:white;
    font-family: 'Oleo Script', cursive;

  }
  .nav-button {
    padding:12px 18px;
    background-color: rgb(121, 207, 186) ;
    color:black;
    border:none;
    border-radius: 9px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size:16px;
    margin-left: 25px;
    text-decoration: none;
  }
  


.note {
  background:rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
  text-align: center;
}
.note h1 {
  font-size: 1.5em;
  margin-bottom: 6px;
  color:white;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color:white;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color:black;
  background-color: rgba(235, 230, 230, 0.6);
  border: none;
  padding:5px;
  border-radius: 5px;
  
  cursor: pointer;
  outline: none;
}

.eventmain{
  display: flex;
 }
 .caldiv{
  width:30%;
  background: rbga(255,255,255,0.08);
 }
 
 .eventdiv{
   width:70%;
 }

 .calpadding{
   margin-top:25px;
   margin-left:15px;
   margin-right: 15px; 
 }

 .firsteventdiv{
   padding-left: 15px;
   padding-top: 25px;
   padding-bottom: 25px;;
 }

 .eventinput{
   display:block;
   border:0;
   padding:0;
   font-size: 18px;
   background-color: rgba(255, 255, 255, 0.2);
   height: 30px;
   width:250px;
   margin-top: 7px;
   margin-bottom: 7px;
   border-radius: 4px;
   color:white;
 }
 /* input {
  display: block;
} */

 .eventheading{
   /* background-color: rgba(255, 255, 255, 0); */
   color:rgb(247, 244, 244);
   /* margin-top: 20px;
   margin-left: 15px; */
   margin-bottom: 25px;
 }
 .eventlabel{
   font-size: 22px;
   margin-top: 7px;
   margin-bottom: 7px;
   color:rgb(218, 212, 212);
 }
 .eventadd{
  margin-top: 10px;
  padding:6px 12px;
  
  
  background-color: rgb(121, 207, 186) ;
  color:black;
  border:none;
  border-radius: 9px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size:16px;
  
  text-decoration: none;
 }

/* Sign up */


.titlesignin{
  font-size: 5rem;
  cursor:pointer;
  margin-right: auto;
  color:white;
  cursor: pointer;
  font-family: 'Oleo Script', cursive;

}
.formsignin{
  background: rgba(0,0,0,0.8);
  margin-left: 63%;
  margin-top: 2%;
  height: 65%;
  width:30%;
  /* background-color: white; */
  border-radius: 8px;
  padding:10px 20px;


}
.logina{
  text-decoration: none;
  color:black;
}
.signup{
  color:white;
  font-family: 'Ubuntu', sans-serif;
}
.inputsignin{
  width:97%;
  border: none;
  padding:15px 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 4px;
  /* background: rgba(255,255,255,0.4); */
  color:black;
  font-size: 18px;
  height: 22px;
  border-radius: 4px;
  /* width:100%;
  padding:12px 20px;
  margin:8px 0;
  display:inline-block;
  border:1px solid #ccc;
  box-sizing: border-box; */

}
.buttonsignin{
  /* background-color: green;
  width:100%;
  height:25px;
  border: none;
  margin-top: 8px;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px; */
  background-color: #4CAF50;
  color:white;
  padding:15px 7px;
  margin:13px 0;
  border:none;
  width:100%;
  border-radius: 4px;
  cursor: pointer;
}
button:hover{
  opacity: 0.6;
}

.formtitle{
  text-align: center;
}
.navsignin{
  display:flex;
  justify-content: flex-end;
  padding:15px 7%;
  align-items: center;

}
.loginbtnsignin{
  padding:12px 18px;
  background-color: #FFE87C ;
  color:black;
  border:none;
  border-radius: 9px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size:16px;
  margin-left: 25px;
  text-decoration: none;
}
.asignin{
  color:white;
  height: 6px;
}
.psignin{
  padding-top: 3px;
  color:white;
  text-align: center;
}

.bg{
 
  background-image: url("./sea.jpg");
  padding-bottom: 250px;
  opacity: 0.8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.head{
  color:white;
  height: 16px;
  margin-top:4px;
  margin-bottom:7px;
  font-family: 'Ubuntu', sans-serif;
}

.loginbg{
  background-image: url("./sea.jpg");
  padding-bottom: 350px;
  opacity: 0.8;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.headlogin{
  color:white;
  height: 16px;
  margin-top:7px;
  margin-bottom:9px;
  font-family: 'Ubuntu', sans-serif;
}

.crnav{
  text-align: center;
  height: 5.3rem;
  font-size: 5rem;
  
}

.crheading{
  color:white;
  height: 50px;
  font-family: 'Oleo Script', cursive;

}

.crcard{
  background:rgba(255, 255, 255, 0.2);
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  height: 350px;
  width: 300px;
  margin: 16px;
  float: left;
  text-align: center;
}
.carddiv{
  margin-top: 12%;
  margin-left: 40%;
}
.carddiv2{
  margin-top: 5%;
  margin-left: 60%;
}
.cardlabel{
  font-size: 1.5em;
  margin-bottom: 6px;
  color:white;
}
.cardip{
  color: #eee;
  height: 35px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: none;
  border: none;
  padding-left: 7px;
  font-size: 20px;
  
  margin-top: 10px;
  margin-bottom: 10px;
}

.crbtn{
  padding:12px 18px;
  background-color: #4cdfb3 ;
  color:black;
  border:none;
  border-radius: 9px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size:16px;
  margin-left: 25px;
  text-decoration: none;
  margin-top: 10px;
}

.cardtitle{
  color:white;
  margin-top:6px;
  margin-bottom:16px;
}